body {
    margin: 0;
}

#container {
    margin:auto;
    max-width: 90vh;
    max-height: 90vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.div {
    background-color: red;  
    aspect-ratio: 1; 
}

.hover {
    background-color: blue;
}